body{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}

form{
    border:2px solid black;
    height:auto;
    width:40%;
    margin: 25px auto;
    overflow: auto;
}

.center{
    text-align: center;
    margin: 16px auto auto 0;
}

input[type="submit"]{
    display:block;
    height:20px;
    width:166px;
    margin: 20px auto;
    background-color: rgb(90, 151, 255);
    border:none;
    overflow: hidden;
}

input{
    text-align:center;
 }



input[type="submit"]:hover{
    border: 1px solid blue;
    font-size: 16px;
    transition: ease-in-out 0.25s;
}

input[type="url"], select{
    margin: 16px 2rem 0 2rem;
}

select{
    width: 166px;
    text-align:center;
}

#flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

